body {
    margin: 0 auto;
    padding: 0;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
}

.container_about {
    width: 30%;
    background: #389C60;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container_desc {
    background: #ECE9AA;
    width: 70%;
    padding: 50px 100px 140px 30px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.title {
    font-size: 48px;
    line-height: 63px;
    text-align: center;
    color: #4D534F;
    font-family: 'Roboto Slab', serif;
}

.title-desc {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    font-family: 'Roboto Slab', serif;
}

.subtitle {
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    font-family: 'Roboto Slab', serif;
}

.subtitle_container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
}

.position_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    font-family: 'Roboto Slab', serif;
}

.position_desc {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Roboto Slab', serif;
    color: #4D534F;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.photo-star {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 15px 0;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}

.info_link {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    cursor: pointer;
}

.language_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 340px;
    margin: 0 1rem;
}

.link_container li{
    margin-bottom: 1rem;
    cursor: pointer;
}

.link_container li:hover{
    color: maroon;
}
.link_container li a:hover{
    color: maroon;
    font-weight: bold;
    border-bottom: 1px solid maroon;
}

















